@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Mobile Optimized Pagination */
@media (max-width: 640px) {
  .pagination-button {
    font-size: 0.875rem;
    /* Font size smaller on mobile */
    padding: 0.5rem 1rem;
    /* Adjust padding for better spacing */
  }
}
